:root {
    --clr: #1c1c1c;
    --clr-light: #5a5350;
    --clr-accent: #689d6a;
    --clr-font: hsl(60, 70%, 83%);
}

html {
    box-sizing: border-box;
    font-weight: bold;
    font-family: monospace;
    background-color: var(--clr);
    color: var(--clr-font);
    font-size: 1.2em;
}

:focus {
    outline: none;
}

::selection {
    background-color: var(--clr-accent);
}

body {
    display: grid;
    margin-top: 15vh;
    justify-content: center;
}

img {
    width: 250px;
    margin-inline: auto;
}

input[type="button"] {
    display: none;
}

input[type="text"] {
    height: 50px;
    width: calc(100% - 6ch - 6px);
    color: var(--clr-light);
    
    padding-left: 1ch;
    padding-right: 5ch;
    margin-top: 40px;
    
    border: 3px solid var(--clr-light);
    border-radius: 15px;

    font-weight: bold;
    font-size: 1.3em;
    font-family: monospace;
    
    background-image: url("./search.png");
    background-position: center right 15px;
    background-repeat: no-repeat;
    background-color: var(--clr);
    background-size: 32px;
}

input[type="text"]:focus {
    color: var(--clr-font);
    border-color: var(--clr-font);
    background-image: url("./search-focus.png");
}

section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.2em;
    letter-spacing: 1px;
}

li {
    border-radius: 5px;
}

a {
    display: block;
    color: var(--clr-light);
    text-decoration: none;
    margin-block: 5px;
    padding: 5px;
    padding-left: 30px;
    word-break: keep-all;

    background-repeat: no-repeat;
    background-position: center left 7px;
    background-size: 16px;
}

li:hover {
    background-color: var(--clr-light)
}

li:hover a {
    color: var(--clr-font)
}

@media (max-width: 950px)  {
    section {
        grid-template-columns: 40vw 40vw;
        row-gap: 0px;
    }
}

@media (max-width: 730px) {
    section {
        grid-template-columns: 80vw;
    }
}