:root {
    --clr: #1c1c1c;
    --clr-light: #5a5350;
    --clr-accent: #689d6a;
    --clr-font: hsl(60, 70%, 83%);
}

html {
    box-sizing: border-box;
    font-weight: bold;
    font-family: monospace;
    background-color: var(--clr);
    color: var(--clr-font);
    font-size: 1.2em;
}

:focus {
    outline: none;
}

::selection {
    background-color: var(--clr-accent);
}

body {
    display: grid;
    margin-top: 15vh;
    justify-content: center;
}

img {
    width: 250px;
    margin-inline: auto;
}

input[type="button"] {
    display: none;
}

input[type="text"] {
    height: 50px;
    width: calc(100% - 6ch - 6px);
    color: var(--clr-light);
    
    padding-left: 1ch;
    padding-right: 5ch;
    margin-top: 40px;
    
    border: 3px solid var(--clr-light);
    border-radius: 15px;

    font-weight: bold;
    font-size: 1.3em;
    font-family: monospace;
    
    background-image: url("./search.png");
    background-position: center right 15px;
    background-repeat: no-repeat;
    background-color: var(--clr);
    background-size: 32px;
}

input[type="text"]:focus {
    color: var(--clr-font);
    border-color: var(--clr-font);
    background-image: url("./search-focus.png");
}

section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.2em;
    letter-spacing: 1px;
}

li {
    border-radius: 5px;
}

a {
    display: block;
    color: var(--clr-light);
    text-decoration: none;
    margin-block: 5px;
    padding: 5px;
    padding-left: 30px;
    word-break: keep-all;

    background-repeat: no-repeat;
    background-position: center left 7px;
    background-size: 16px;
}


#twitter {background-image: url("https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://twitter.com&size=16");}
#reddit {background-image: url("https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://reddit.com&size=16");}
#twitch {background-image: url("https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://twitch.tv&size=16");}
#youtube {background-image: url("https://t0.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://youtube.com&size=16");}

#ecampus {background-image: url("https://ecampus.unicaen.fr/pluginfile.php/1/theme_boost_campus/favicon/1669282654/favicon_ecampus.png");}
#webmail {background-image: url("https://webmail.unicaen.fr/img/logo/favicon.ico");}
#edt {background-image: url("");}
#caseine {background-image: url("https://moodle.caseine.org/theme/image.php/boost/theme/1669213116/favicon");}

#gmail {background-image: url("https://ssl.gstatic.com/ui/v1/icons/mail/rfr/gmail.ico");}
#tm {background-image: url("https://trackmania.io/favicon32.png");}
#monkey {background-image: url("https://monkeytype.com/images/favicon/apple-touch-icon.png");}
#fitgirl {background-image: url("https://fitgirl-repacks.site/wp-content/uploads/2016/08/cropped-icon-192x192.jpg");}

#netflix {background-image: url("https://assets.nflxext.com/ffe/siteui/common/icons/nficon2016.ico");}
#prime {background-image: url("https://m.media-amazon.com/images/G/01/digital/video/DVUI/favicons/favicon.png");}
#mha {background-image: url("https://t0.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=https://voiranime.com&size=16");}
#chainsaw {background-image: url("https://t0.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=https://voiranime.com&size=16");}


li:hover {
    background-color: var(--clr-light)
}

li:hover a {
    color: var(--clr-font)
}

@media (max-width: 950px)  {
    section {
        grid-template-columns: 40vw 40vw;
        row-gap: 0px;
    }
}

@media (max-width: 730px) {
    section {
        grid-template-columns: 80vw;
    }
}